label.valid {
	  width: 24px;
	  height: 24px;
	  background: url(assets/img/valid.png) center center no-repeat;
	  display: inline-block;
	  text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

/* line 2, ../sass/style.sass */
.solicitud-analisis .content-catalogo-prueba {
  min-height: 425px;
}
/* line 4, ../sass/style.sass */
.solicitud-analisis .content-catalogo-prueba .ember-view {
  max-height: 304px;
  overflow: auto;
}
